<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TrialServletV2</servlet-name>
  	<display-name>TrialServletV2</display-name>
  	<description></description>
  	<servlet-class>web.TrialServletV2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TrialServletV2</servlet-name>
  	<url-pattern>/TrialServletV2</url-pattern>
  </servlet-mapping>
  	<welcome-file-list>
		<welcome-file>TrialServletV2.java</welcome-file>
	</welcome-file-list>
</web-app>
